@font-face {
    font-family: "GorditaBold";
    src: url("/fonts/GorditaBold.otf");
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: "GorditaBold";
    color: black;
}