@font-face 
{
    font-family: 'GorditaBold';
    src: url("/fonts/GorditaBold.otf") format("opentype");
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: 'GorditaBold';
    color: black;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    align-items: center;
    text-align: center;
}

.container:first-of-type{
    border-right: 1px solid lightgray;
}

.title{
    font-size: 1.8em;
    margin: 20px 0 40px;
}

.option{
    font-size: 8.0em;
    letter-spacing: -0.08em;
    line-height: 1.3em;
}

.scoreboard{
    font-size: 1.5em;
    margin-top: 20px;
}

.human:hover{
    color: #77A0F2;
    cursor: pointer;
}

.announcement{
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #77A0F2;
}

.visible{
    display: flex;
}

.announcement-text{
    font-size: 8.0em;
    letter-spacing: -0.08em;
    line-height: 1.3em;
}

.selected{
    color: #77A0F2;
}