@font-face {
    font-family: "GorditaBold";
    src: url("/fonts/GorditaBold.otf");
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    font-family: "GorditaBold";
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 1.8em;
    margin: 20px 0 40px;
}